{% extends 'base.html.twig' %}

{% block body %}
    {% for flash in app.flashes('notice') %}
        <div class="alert alert-info">
            {{ flash }}
        </div>
    {% endfor %}

    <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
    {% for post in posts %}
        <a href="{{ path('micro_post_post', {'id': post.id}) }}">
            {% include './micro-post/includes/post-item.html.twig' %}
        </a>
        {% if is_granted('ROLE_USER')  %}
            <small class="d-block text-right mt-3">
                {% if is_granted('edit', post) %}
                    <a class="d-inline-block mr-3" href="{{ path('micro_post_edit', {'id': post.id}) }}">edit</a>
                {% endif %}
                {% if is_granted('delete', post) %}
                    <a class="d-inline-block" href="{{ path('micro_post_delete', {'id': post.id}) }}">delete</a>
                {% endif %}
            </small>
        {% endif %}
    {% endfor %}
    <small class="d-block text-center mt-3">
        <a href="#">All updates</a>
    </small>
{% endblock %}