{% extends 'base.html.twig' %}

{% block body %}
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
        <small class="d-block text-left mt-3 border-bottom border-gray pb-2">
            <a class="btn btn-sm btn-primary" href="{{ path('micro_post_add') }}">Add new</a>
        </small>
        {% for post in posts %}
            <div class="media text-muted pt-3">
                <img data-src="holder.js/32x32?text=MJ&bg=e83e8c&fg=fff&size=8" alt="" class="mr-2 rounded">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <span class="d-block"><strong class="text-gray-dark">@username</strong> <small>· {{ post.time|date("d/m/Y") }}</small></span>
                    {{ post.text }}
                </p>
            </div>
        {% endfor %}
        <small class="d-block text-center mt-3">
            <a href="#">All updates</a>
        </small>
    </div>
{% endblock %}