<h3>Welcome to the App!</h3>

<p>
    Hello {{ user.fullName }}! You've registered successfully!
</p>

<p>
    <strong><a href="{{ url('security_login') }}">Go to Login!</a></strong>
</p>

<p>
    <strong>Thanks!</strong>
</p>