<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="bg-light">

{%  include('./includes/nav.html.twig') %}

<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded box-shadow">
        {% block body %}
        {% endblock %}
    </div>
</main>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>