<!DOCTYPE html>
<html lang="{{ (app.session is defined and app.session.get('_locale')) ? app.session.get('_locale') : locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}MicroPosts{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="bg-light">

{%  include('./includes/nav.html.twig') %}

<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded box-shadow">
        {% block body %}
        {% endblock %}
    </div>
</main>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    {% if is_granted('ROLE_USER') %}
        <script>
            function fetchNotificationCount() {
                fetch(
                    '{{ path('notification_unread') }}',
                    {'credentials': 'include'}
                ).then((response)=> {
                    response.json()
                        .then((data)=> {
                            document.getElementById('js-notification-count').innerHTML = data.count;
                            setTimeout(fetchNotificationCount, 5000);
                        });
                }).catch((reason)=> {
                    console.warn(reason);
                });
            }

            fetchNotificationCount();
        </script>
    {% endif %}
{% endblock %}
</body>
</html>