{% extends 'base.html.twig' %}

{% block title %}
    404 Error
{% endblock %}

{% block body %}
    <h1>Ohhh nooo!!!</h1>
    <p>
        {{ status_code }}, {{ status_text }}
    </p>

{% endblock %}